<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>USER_ID</key>
	<string>vitalsense-user-dev</string>
	<key>API_BASE_URL</key>
	<string>http://127.0.0.1:8789/api</string>
	<key>WS_URL</key>
	<string>wss://vitalsense-websocket-advanced-dev.andernet.workers.dev/ws</string>
	<key>useMLGaitRiskScorer</key>
	<true/>
	<key>useWatchCadenceFusion</key>
	<true/>
</dict>
</plist>
